.avg-progress-wrapper {
  position: absolute;
  width: 100%;
}
.avg-progress-outer {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0);
}

.avg-progress-inner {
  transition: 0.3s;
  height: 100%;
  background: black;
}
