.placeholder-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.link-wrapper a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(139, 139, 139);
}
a:visited {
  color: rgb(139, 139, 139);
}

a:hover {
  color: black;
}
